<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Eightshift GDPR Plugin" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">

	<description>The Coding standard for the Eightshift GDPR plugin.</description>

	<file>.</file>

	<arg value="sp"/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>
	<arg name="basepath" value="./"/>

  	<exclude-pattern>*/vendor/*</exclude-pattern>
  	<exclude-pattern>*/node_modules/*</exclude-pattern>
  	<exclude-pattern>*/skin/*</exclude-pattern>

  	<rule ref="Infinum"/>
</ruleset>
